.banner {
  width: 100%;
  position: relative;
}

.banner-form {
  position: absolute;
  top: 7rem;
  left: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 1rem;
  width: 15rem;
  padding: 0.5rem;

  h2 {
    display: none;
  }
}

.banner-form .banner-heading {
  display: none;
  color: #ffe500;
  font-size: 2px;
  white-space: nowrap;
}

.image-wrapper {
  width: 100vw;

  img {
    width: 100%;
    vertical-align: middle;
  }
}

.mobile-number-input {
  background-color: white;
  padding: 8px;
  border-radius: 4px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 8px;

  & input {
    border: none;
    padding: auto;
    width: 100%;

    & :active,
    & :focus {
      border: none;
      outline: none;
    }
  }

  svg {
    display: none;
  }
}

.mobile-number-input input::placeholder {
  color: lightgrey;
}

/* for mobile phone */
.mobile-banner {
  display: block;
}

.tablet-banner,
.desktop-banner {
  display: none;
}

/* for tablet device */
@media screen and (min-width: 456px) {
  .tablet-banner {
    display: block;
  }

  .mobile-banner,
  .desktop-banner {
    display: none;
  }

  .banner-form {
    top: 2rem;
    left: 4rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1rem;
    width: 18rem;

    h2 {
      display: inline;
    }
    .banner-heading {
      font-size: 2rem;
      width: 80%;
      white-space: nowrap;
    }
  }

  .mobile-number-input {
    width: 110%;
  }

  .mobile-number-input svg {
    display: inline;
  }
}

@media screen and (min-width: 620px) {
  .banner-form .banner-heading {
    display: block;
    font-size: 2rem;
    width: 80%;
  }
}

@media screen and (min-width: 888px) {
  .desktop-banner {
    display: block;
  }

  .tablet-banner,
  .mobile-banner {
    display: none;
  }

  .banner-form {
    top: 16%;
    left: 8%;

    .banner-heading {
      display: none;
    }
  }
}
