.info-tab {
  width: 100vw;
  height: 30%;
  background-color: white;
  // margin: 2rem 0px;
  box-sizing: border-box;

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    li {
      text-align: justify;
      width: 100%;
      display: flex;
      padding: 2rem;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h2 {
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        color: rgb(61, 70, 77);
        padding: 1rem;
      }

      .list-info-heading {
        color: #0066cc;
      }
    }
  }

  .item-requisite-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // margin: 1rem;
    justify-content: space-around;

    .img-wrapper {
      width: 5rem;
    }

    img {
      width: 100%;
      object-fit: contain;
    }

    .list-info {
      padding: 4px;
      display: flex;
      flex-direction: column;

      font-family: Inter, sans-serif;
      font-weight: 400;
      color: #3d464d;
      font-size: 15px;
      line-height: 27px;
      letter-spacing: 0.42px;
      margin: 0 1rem;
    }
  }
}

.embed-video-wrapper {
  width: 4rem;

  iframe {
    border: none;
    width: 10%;
    aspect-ratio: 16/9;
  }

  h3 {
    text-align: center;
    // padding: 0.5rem;
  }
}

@media screen and (min-width: 888px) {
  .info-tab ul {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .list-info {
      display: flex;
      flex-direction: row;
    }
  }
}
